@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
}
.wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}
